<?xml version="1.0" encoding="UTF-8"?>
<!-- slf4j日志配置文件 -->
<configuration debug="true" scan="true" scanPeriod="30 seconds">

    <!-- 设置日志输出根目录 -->
    <property name="log_dir" value="d:/logs/" />
    <property name="encoding" value="UTF-8"/>
    <property name="normal-pattern" value="%d %t %p %-17c{2} %m%n"/>
    <property name="plain-pattern" value="%d{yyyy-MM-dd.HH:mm:ss} %msg%n"/>



    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 对日志进行格式化 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger -%msg%n</pattern>
        </encoder>
    </appender>
    <!-- logger 配置 -->
    <logger name="console" level="INFO" addtivity="false">
        <appender-ref ref="console"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
